# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Виртуальное окружение
venv/
env/

# Django
db.sqlite3
media/
staticfiles/
*.log

# IDE
.idea/
.vscode/
*.swp

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# OS
.DS_Store
Thumbs.db

# Тесты и кэш
.pytest_cache/
.mypy_cache/